{{!-- bootstrap classes is used  --}}
<main>
  <div class="container">
    <div class="d-flex p-2 m-5">
      <div style="width: 50%; m-4s">
        <h2>Hello my name is Niserg Patel </h2>
        <br>
      
        <p>I am website developer.... Based from India i came to Canada for my
          further studies. Now i learning more skills in website development.
          Doing well in my fied. Made a lot of projects and sell few of them my
          clients are very happy from my work.
        </p>
        <br>
        
        <p>
          Currently i am working on Node and Express Stack. I have a concise
          knowledge of Asp.Net, Java, HTML, CSS, JavaScript.
        </p>
        <br>
        <p>In Database i have experience in both Relational and No-Relation
          Database. With products like Postgress, MySQL, MongoDB etc.</p>
          <br>
        <p>Carrer Obejective: Intend to work in challenging and competitive environment provide
          opportunity to improve skills and knowledge to growth along with
          organization objective
        </p>
      </div>
      <div style="width: 50%; m-4 p-3" class="container">
        <h3>My Personal details</h3>
        <ul>
          <li>(705) 795-4688</li>
          <li>nisargpatel852001@gmail.com</li>
          <li>Barrie, ON L4M5T9</li>
          <li>Bhopal</li>
        </ul>
        <h3>My Educational details</h3>
        <ul>
          <li>Expected graduation Jan 2024 COMPUTER PROGRAMMING Georgian
              College, Barrie, Course, ON</li>
          <li>Jan 2019 COMPUTER PROGRAMMING CO-OP SRK College, Bhopal, IN</li>
        </ul>
        <h3>Skills</h3>
        <ul>
          <li>HTML</li>
          <li>Microsoft office</li>
          <li>Tally ERP 9 </li>
          <li>Node.Js</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ul>
      </div>
    </div>
  </div>
</main>