<div
  class=".container-md p-5 m-5 rounded"
  style="background-color: darkgoldenrod ;"
>
  <div class="d-flex justify-content-center"><div class="m-5 text-light">
      <h2>NISARG PATEL</h2>
      <span>Website Developer</span>
      <p>Email: nisargpatel852001@gmail.com </p>
      <p>From Canada</p>
    </div><img
      class="rounded-circle m-5"
      src="/images/man-g4115f3241_640.png"
      alt="peson image"
      height="150"
      width="150"
    />

  </div>
  <div>
    <p class="text-center text-light font-weight-bold">I am an Emerging Website
      Developer</p>
  </div>
</div>

<div class="container p-5 bg-light" style="width: 80%; margin: 10px auto;">
  <h2 class="p-3 m-3 text-center container">Organizations I have worked
    with.......</h2>
  <div class="row">

    <div class="col p-3" style="">
      <img
        src="/images/pexels-kampus-production-8204313.jpg"
        width="350"
        alt=""
      />
      <h4 style="margin-top: 15px;">CASHIER/CUSTOMER SERVICE
      </h4>
      <p>CAFE COFFEE DAY, Ahmedabad, Gujrat
      </p>
    </div>
  </div>
</div>

<div class="container p-5" style="width: 80%; margin: 10px auto;">
  <h2 class="p-3 m-3 text-center container">Projects i have worked on.......</h2>
  <div class="row">
    <div class="col">
      <img src="/images/laptop-g07bca914f_1280.png" width="300px" alt="" />
      <h4 style="margin-top: 20px;">Weather Application
      </h4>
      <p>A web-app based on Express and React which have beautiful graphis to
        show weather.
      </p>
    </div>
    <div class="col">
      <img src="/images/laptop-g07bca914f_1280.png" width="300px" alt="" />
      <h4 style="margin-top: 20px;">ToDo Web app
      </h4>
      <p>A web-app based on Express and React which stores the tasks you have to
        do.
      </p>
    </div>
    <div class="col">
      <img src="/images/laptop-g07bca914f_1280.png" width="300px" alt="" />
      <h4 style="margin-top: 20px;">Shopping Website
      </h4>
      <p>Build with node and react with a fully scalable architecture and
        customizable dashboard.
      </p>
    </div>
  </div>
</div>
<br />
<br />
<br />