<div class="container p-5" style="width: 80%; margin: 10px auto;">
  <h2 class="p-3 m-3 text-center container">Projects i have worked on.......</h2>
  <div class="row">
    <div class="col">
      <img src="/images/laptop-g07bca914f_1280.png" width="300px" alt="" />
      <h4 style="margin-top: 20px;">Weather Application
      </h4>
      <p>A web-app based on Express and React which have beautiful graphis to
        show weather.
      </p>
    </div>
    <div class="col">
      <img src="/images/laptop-g07bca914f_1280.png" width="300px" alt="" />
      <h4 style="margin-top: 20px;">ToDo Web app
      </h4>
      <p>A web-app based on Express and React which stores the tasks you have to
        do.
      </p>
    </div>
    <div class="col">
      <img src="/images/laptop-g07bca914f_1280.png" width="300px" alt="" />
      <h4 style="margin-top: 20px;">Shopping Website
      </h4>
      <p>Build with node and react with a fully scalable architecture and
        customizable dashboard.
      </p>
    </div>
  </div>
</div>